<mat-card>
  <mat-card-title><h3>Add Many Games</h3></mat-card-title>
  <mat-card-content>
    <form [formGroup]="addGroup" (submit)="saveGamesBatch()">
      <mat-form-field>
        <mat-label>System</mat-label>
        <mat-select formControlName="system">
          <mat-option
            *ngFor="let item of systemsLookup | async"
            value="{{ item.id }}"
            >{{ item.description }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Titles</mat-label>
        <textarea
          matInput
          formControlName="titles"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="15"
          cdkAutosizeMaxRows="200"
        ></textarea>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-raised-button color="default">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
